.sign-up {
  margin-top: 24px;
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .subtitle {
    color: rgb(83, 83, 83);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}